@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body { 
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.title h2 { 
  color: #333333;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
p {
   margin: 0;
   font-size: 14px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.rate {
  color: #33333399;
    font-weight: 400;
    font-size: 14px;
    overflow: hidden;
  
}
#amount-input {
  width: 90%;
    height: 35px;
    border: 1px solid #00000040;
    border-radius: 2px;
    padding-left: 9px;
    outline-color: #e0457b;
}
.bestValue {

  font-size: 11px;
    background: #e0457b;
    padding: 0 5px;
    color: white;
}


.declamer p{
  font-size: 12px;
    color: #00000087;
}


.muscle-groups {
  position: relative;
  background: #eee;
  width: 100%;
  height: 100vh;
  padding: 0.5rem 1rem;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;

}





.muscle-groups input:checked + label {
  opacity: 1;
  font-weight: bold;
  color: #e0457c;
}
/* .muscle-groups svg {
  
} */
.muscle-groups svg g[id] path {
  opacity: 0.2;
  transition: opacity 0.25s ease-in-out;
}
.muscle-groups svg g g[id]:hover path {
  cursor: pointer;
  opacity: 0.5;
  fill: #e0457c !important;
}
.muscle-groups .muscles-helper {
  display: none;
}
.muscle-groups label[for=obliques]:hover ~ svg #Obliques path {
  opacity: 0.75;
}
.muscle-groups .obliques:checked ~ svg #Obliques path {
  opacity: 0.8;
  fill: #e0457c !important;
}
.muscle-groups label[for=abs]:hover ~ svg #Abs path {
  opacity: 0.75;
}
.muscle-groups .abs:checked ~ svg #Abs path {
  opacity: 0.8;
  fill: #e0457c !important;
}
.muscle-groups label[for=quads]:hover ~ svg #Quads path {
  opacity: 0.75;
}
.muscle-groups .quads:checked ~ svg #Quads path {
  opacity: 0.8;
  fill: #e0457c !important;
}
.muscle-groups label[for=biceps]:hover ~ svg #Biceps path {
  opacity: 0.75;
}
.muscle-groups .biceps:checked ~ svg #Biceps path {
  opacity: 0.8;
  fill: #e0457c !important;
}
.muscle-groups label[for=adductors]:hover ~ svg #Adductors path {
  opacity: 0.75;
}
.muscle-groups .adductors:checked ~ svg #Adductors path {
  opacity: 0.8;
  fill: #e0457c !important;
}
.muscle-groups label[for=pectorals]:hover ~ svg #Pectorals path {
  opacity: 0.75;
}
.muscle-groups .pectorals:checked ~ svg #Pectorals path {
  opacity: 0.8;
  fill: #e0457c !important;
}
.muscle-groups label[for=deltoids]:hover ~ svg #Deltoids path {
  opacity: 0.75;
}
.muscle-groups .deltoids:checked ~ svg #Deltoids path {
  opacity: 0.8;
  fill: #e0457c !important;
}
.muscle-groups label[for=hamstrings]:hover ~ svg #Hamstrings path {
  opacity: 0.75;
}
.muscle-groups .hamstrings:checked ~ svg #Hamstrings path {
  opacity: 0.8;
  fill: #e0457c !important;
}
.muscle-groups label[for=quads]:hover ~ svg #Quads path {
  opacity: 0.75;
}
.muscle-groups .quads:checked ~ svg #Quads path {
  opacity: 0.8;
  fill: #e0457c !important;
}
.muscle-groups label[for=forearms]:hover ~ svg #Forearms path {
  opacity: 0.75;
}
.muscle-groups .forearms:checked ~ svg #Forearms path {
  opacity: 0.8;
  fill: #e0457c !important;
}
.muscle-groups label[for=calves]:hover ~ svg #Calves path {
  opacity: 0.75;
}
.muscle-groups .calves:checked ~ svg #Calves path {
  opacity: 0.8;
  fill: #e0457c !important;
}
.muscle-groups label[for=triceps]:hover ~ svg #Triceps path {
  opacity: 0.75;
}
.muscle-groups .triceps:checked ~ svg #Triceps path {
  opacity: 0.8;
  fill: #e0457c !important;
}
.muscle-groups label[for=glutes]:hover ~ svg #Glutes path {
  opacity: 0.75;
}
.muscle-groups .glutes:checked ~ svg #Glutes path {
  opacity: 0.8;
  fill: #e0457c !important;
}
.muscle-groups label[for=lats]:hover ~ svg #Lats path {
  opacity: 0.75;
}
.muscle-groups .lats:checked ~ svg #Lats path {
  opacity: 0.8;
  fill: #e0457c !important;
}
.muscle-groups label[for=trapezius]:hover ~ svg #Trapezius path {
  opacity: 0.75;
}
.muscle-groups .trapezius:checked ~ svg #Trapezius path {
  opacity: 0.8;
  fill: #e0457c !important;
}







